<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lounge</title>
  </head>
  <body>
    	<center>
        <br><br><br><br><br><br><br><br><br>
    <h1>BLABLABLA</h1>

  </body>
</html>
